body{
  background-color: white;
  margin: 0 auto;
  width: 70%;
}

.name{
  font-size: 40px;
  text-align: center;
  color: black;
}

.h1{
    text-align: center;
    font-size: 25px;
    color: black;
}

.first{
    text-align: center;
    color: black;
}

.name-1{
  color: #ff000f;
}

.yohaku{
  margin: 3em 0px;
  color: black;
}

p{
  font-size: 20px;
}

.pro{
  margin: 1.5em;
  color: black;
}

.h2{
  font-size: 20px;
}

.mokuhyou{
  color: #ff000f;
}

.link1{
  color: rgb(113, 9, 231);
  
}

h4 {
  color: black;
}